<div class="container">
    <header>
        <div class="logo">
        </div>

        <div class="right">
            <a href="#">Logout</a>
        </div>
    </header>


    <main>
        <router-outlet />
    </main>
</div>


<nav class="sidebar">
    <h1>menu</h1>
    <ul class="menu">
        <li class="menu-item">
            <a routerLink="dashboard">Trang chủ
                <i class="fa-solid fa-house-chimney"></i>
            </a>

        </li>
        <li class="menu-item dropdown">
            <a href="admin/category" class="dropdown-toggle">Danh mục
                <i class="fa-solid fa-box"></i>
            </a>

            <ul class="submenu">
                <li class="submenu-item">
                    <a href="/admin/category/add">Thêm danh mục</a>

                </li>
            </ul>
        </li>
        <li class="menu-item dropdown">
            <a href="admin/product" class="dropdown-toggle">sản phẩm
                <i class="fa-solid fa-box"></i>
            </a>

            <ul class="submenu">
                <li class="submenu-item">
                    <a href="/admin/product/add">Thêm sản phẩm</a>

                </li>

            </ul>
        </li>
        <li class="menu-item">
            <a href="#">Liên hệ
                <i class="fa-solid fa-phone"></i>
            </a>
        </li>
    </ul>
</nav>
