<div class="container">
    <header>
        <div class="logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
        <div class="right">
            <a href="#">Logout</a>
        </div>
    </header>


    <main>
        <router-outlet />
    </main>
</div>