.list-categories {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  transition: 0.2s;


  a {
    display: block;
    text-decoration: none;

    .cate-product {
      background: #323232;
      width: 200px;
      height: 240px;
      border-radius: 20px;
      text-align: center;

      img {
        width: 60%;
        height: 130px;
        padding: 20px;
      }

      div {
        h3 {
          color: white;
          font-weight: normal;
        }
      }

      &:hover {
        box-shadow: -2px -2px 5px 0px white, 2px 2px 5px 0px #ff6900;
        transition: 0.2s;
      }
    }
  }
}

.product {
  width: 100%;
  height: auto;
  margin: 0 0 30px 0;

  .title {
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    margin: 80px auto 40px auto;
    font-size: 25px;
  }

  .list-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    a {
      text-decoration: none;
      color: white;

      .product-child {
        width: 100%;
        height: auto;
        background: #323232;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
        transition: 0.2s;


        img {
          width: 90%;
          height: auto;
        }

        div {
          p {
            color: white;
            margin: 30px auto;
          }

          h3 {
            color: white;
            letter-spacing: 0.8px;

            del {
              color: rgba(156, 156, 156, 0.774);
              font-size: 15px;
              margin: 0 5px;
            }

            span {
              font-size: 17px;
              color: red;
            }
          }
        }

        &:hover {
          box-shadow: -2px -2px 5px 0px white, 2px 2px 5px 0px #ff6900;
          transition: 0.2s;

        }
      }
    }
  }
}