<div class="list-categories">
    <a href="" *ngFor="let category of categories">
        <div class="cate-product">
            <img [src]="category.img" alt="">
            <div>
                <h3>{{ category.name }}</h3>
            </div>
        </div>
    </a>

    <!-- <a href="">
    <div class="cate-product">
      <img
        src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/img-catemac-1.png"
        alt="">
      <div>
        <h3>Mac</h3>
      </div>
    </div>
  </a>

  <a href="">
    <div class="cate-product">
      <img
        src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/img-cateipad.png?v=3"
        alt="">
      <div>
        <h3>iPad</h3>
      </div>
    </div>
  </a>

  <a href="">
    <div class="cate-product">
      <img
        src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/img-catewatch-1.png?v=2"
        alt="">
      <div>
        <h3>Watch</h3>
      </div>
    </div>
  </a>

  <a href="">
    <div class="cate-product">
      <img
        src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/img-catesound.png"
        alt="">
      <div>
        <h3>Âm thanh</h3>
      </div>
    </div>
  </a>

  <a href="">
    <div class="cate-product">
      <img
        src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/mwgcart/topzone/images/desktop/img-catephukien-1.png?v=2"
        alt="">
      <div>
        <h3>Phụ kiện</h3>
      </div>
    </div>
  </a> -->

</div>

<div class="product">
    <div class="title">
        <h2>iPhone</h2>
    </div>

    <div class="list-product">
        <a href="" *ngFor="let product of products; index as i">
            <div class="product-child">
                <img [src]="product.img" alt="">

                <div>
                    <p>{{ product.name }}</p>
                    <h3>{{ product.price }}
                        <del>28.990.00đ</del>
                        <span>-3%</span>
                    </h3>
                </div>
            </div>
        </a>


        <!-- <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/289700/s16/iphone-14-pro-max-black-thumbnew-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/247508/s16/iphone-14-pro-gold-thumb-1-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/240259/s16/iphone-14-red-thumb-1-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a> -->


        <!-- </div>
</div>

<div class="product">
  <div class="title">
    <h2>Mac</h2>
  </div>

  <div class="list-product">
    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/231244/s16/macbook-air-m1-2020-spacegray-thumb-650x650.png"
          alt="">

        <div>
          <p>MacBook Air M1 2020</p>
          <h3>
            18.390.000₫

            <del>22.990.000₫</del>
            <span>-5%</span>
          </h3>
        </div>
      </div>
    </a>


    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/253636/s16/macbook-pro-16-m1-pro-2021-bac-650x650.png"
          alt="">

        <div>
          <p>MacBook Air M1 2020</p>
          <h3>18.390.000₫
            <del>22.990.000₫</del>
            <span>-5%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/5698/238053/s16/imac-24inch-blue-650x650.png"
          alt="">

        <div>
          <p>MacBook Air M1 2020</p>
          <h3> 18.390.000₫
            <del>22.990.000₫</del>
            <span>-5%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/44/282827/s16/macbook-air-m2-2022-8-core-gpu-vang-650x650.png"
          alt="">

        <div>
          <p>MacBook Air M1 2020</p>
          <h3>18.390.000₫
            <del>22.990.000₫</del>
            <span>-5%</span>
          </h3>
        </div>
      </div>
    </a>


  </div>
</div>

<div class="product">
  <div class="title">
    <h2>iPad</h2>
  </div>

  <div class="list-product">
    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/522/247517/s16/ipad-gen-9-silver-1-2-650x650.png"
          alt="">

        <div>
          <p>iPad 9 WiFi</p>
          <h3>

            7.290.000₫

            <del>7.690.000₫</del>
            <span>-5%</span>
          </h3>
        </div>
      </div>
    </a>


    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/522/294103/s16/iPad-gen-10-blue-thumb-1-2-650x650.png"
          alt="">

        <div>
          <p>iPad 9 WiFi</p>
          <h3>
            7.290.000₫
            <del>7.690.000₫</del>
            <span>-5%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/522/294104/s16/iPad-Pro-M2-11-sliver-thumb-1-650x650.png"
          alt="">

        <div>
          <p>iPad 9 WiFi</p>
          <h3>
            7.290.000₫
            <del>7.690.000₫</del>
            <span>-5%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/522/248096/s16/ipad-air-5-wifi-startlight-650x650.png"
          alt="">

        <div>
          <p>iPad 9 WiFi</p>
          <h3>
            7.290.000₫
            <del>7.690.000₫</del>
            <span>-5%</span>
          </h3>
        </div>
      </div>
    </a>


  </div> -->
    </div>