.bg {

    padding-left: 80px;
}
form {
	
	border-radius: 5px;
	padding: 20px;
	width: 500px;
	margin: 0 auto;
}

form h2 {
	margin: 0 0 20px 0;
	font-size: 24px;
	
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input[type="text"],
form input[type="number"],
form textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
	box-sizing: border-box;
}

form input[type="file"] {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

form button[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: right;
}

form button[type="submit"]:hover {
	background-color: #3e8e41;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    width: 400px;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .modal-header h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #666;
  }
  
  .modal-body p {
    margin: 0;
    font-size: 16px;
  }
  
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .cancel-button {
    background: #ccc;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .confirm-button {
    background: #448ef7;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
