<div class="search-wrapper">
    <label for="search-field">Tìm kiếm Khách hàng:</label>
    <div class="input-group">
      <input type="text" id="search-field" placeholder="Nhập thông tin ở đây...">
      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </div>
  
  

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Ghi chú</th>
                <th>Sửa/Xóa</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Ngô Thế Hưng</td>
                <td>10913813189</td>
                <td>
                    Tân Hộ - Đan phượng
                </td>
                <td>Ghí chú</td>
                <td>
                    <button class="edit-button" >Xóa</button>
                    <button class="delete-button ">
                        <a 
                           >Sửa</a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>  