<form [formGroup]="formSignup" (ngSubmit)="onHandleSubmit()">
    <div class="mb-3">
        <label for="" class="form-label">Ten dang nhap</label>
        <input type="text" class="form-control" formControlName="name" />

        <div
            *ngIf="formSignup.get('name')?.hasError('required') && (formSignup.get('name')?.touched || formSignup.get('name')?.dirty)">
            Name is required
        </div>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Mat khau</label>
        <input type="password" class="form-control" formControlName="password" />
    </div>

    <div
        *ngIf="formSignup.get('password')?.hasError('required') && (formSignup.get('password')?.touched || formSignup.get('password')?.dirty)">
        password is required
    </div>

    <div class="mp-3">
        <label for="" class="form-label">ConfirmPassword</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
    </div>

    <div
        *ngIf="formSignup.get('notMath')?.hasError('required') && (formSignup.get('confirmPassword')?.touched || formSignup.get('confirmPassword')?.dirty)">
        Mat khau khong khop
    </div>

    <button>Submit</button>

</form>