<div class="product-detail">
  <div class="display-image">
    <img
      src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/245545/s16/iphone_14_plus_pdp_position-1_starlight_color-1-650x650.jpg"
      alt="">
  </div>

  <div class="display-detail">
    <h2>iPhone 14 Plus</h2>

    <div class="price-sale">
      <label for="">Giá và khuyến mãi tại: </label>

      <select id="address">
        <option value="hcm">Tp. Hồ Chí Minh</option>
        <option value="hn">Tp. Hà Nội</option>
        <option value="dn">Đà Nẵng</option>
        <option value="qn">Quảng Ninh</option>
      </select>
    </div>

    <div class="display-price">
      <p>21.790.000đ
        <del>24.790.000đ</del>
        <span>-12%</span>
      </p>
    </div>

    <div class="btn-buy">
      <button>Mua ngay</button>

      <div class="btn-option">
        <button>Mua trả góp <br>
          <span>Qua công ty tài chính</span>
        </button>

        <button>Trả góp qua thẻ <br>
          <span>Visa, Mastercard, JCB, Amex</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="similar-product">
  <div class="title">
    <h3>Sản phẩm tương tự</h3>
  </div>

  <div class="list-product-similar">
    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/251192/s16/iphone-14-pro-max-128gb-black-thumb-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>


    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/289700/s16/iphone-14-pro-max-black-thumbnew-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/247508/s16/iphone-14-pro-gold-thumb-1-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/240259/s16/iphone-14-red-thumb-1-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>
  </div>
</div>