<form (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Thông tin người nhận hàng:</legend>

        <label for="name"><span class="required">*</span> Họ và tên:</label>
        <input type="text" id="name" name="name" required>

        <label for="email"><span class="required">*</span> Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Số điện thoại:</label>
        <input type="tel" id="phone" name="phone">

        <label for="address"><span class="required">*</span> Địa chỉ:</label>
        <textarea id="address" name="address" required></textarea>

    </fieldset>
    <fieldset>
        <legend>Thông tin thanh toán:</legend>

        <p>Hình thức thanh toán:</p>

        <div class="banking">
            <div>
                <label>
                    <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="Banking">
                    Banking
                </label>


                <label>
                    <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="COD" required checked>
                    Thanh toán khi nhận hàng (COD)
                </label>
            </div>
            <img *ngIf="selectedPayment === 'Banking'"
                src="https://scontent.xx.fbcdn.net/v/t1.15752-9/350889030_622376793164343_2079485221222740674_n.png?stp=dst-png_p206x206&_nc_cat=107&ccb=1-7&_nc_sid=aee45a&_nc_ohc=jAiI1pfK2LkAX9mMXnR&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQecimHYzeTafjWE1WBX2jDq06NirO07w86oERCJ_opkQ&oe=64A583DA">

        </div>

    </fieldset>

    <div class="actions">
        <input type="submit" value="Gửi thông tin">
    </div>
</form>