table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #ddd;
    }

    td {
        border: 1px solid #ddd;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}