<div class="search-wrapper">
    <h2>Danh sách sản phẩm</h2>
    <div class="input-group">
        <div>
            <input type="text" [(ngModel)]="searchTerm" placeholder="Tìm kiếm sản phẩm" />
            <span *ngIf="searchProducts().length === 0">Không có kết quả</span>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Danh mục</th>
                <th>Giá</th>
                <th>Ảnh</th>
                <th>Mô tả</th>
                <th>Sửa/Xóa</th>
            </tr>
        </thead>

        <ng-container *ngIf="searchProducts().length === 0">
            <tbody>
                <tr *ngFor="let product of products; index as i">
                    <td>{{i+1}}</td>
                    <td>{{product.name}}</td>
                    <td>
                        <ng-container *ngFor="let category of categories">
                            <span *ngIf="category._id === product.categoryId">{{ category.name }}</span>
                        </ng-container>
                    </td>

                    <td>{{product.price}}</td>
                    <td>
                        <img [src]="product.img" style="width: 100px; height: 100px;" />
                    </td>
                    <td>{{product.description}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="removeItem(product._id)!">Xóa</button>
                        <button class="btn btn-danger" routerLink="{{ product._id }}/update">Sửa</button>
                    </td>
                </tr>
            </tbody>
        </ng-container>

        <ng-container *ngIf="searchProducts().length > 0">
            <tbody>
                <tr *ngFor="let product of searchProducts(); index as i">
                    <td>{{i + 1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <ng-container *ngFor="let category of categories">
                            <span *ngIf="category._id === product.categoryId">{{ category.name }}</span>
                        </ng-container>
                    </td>
                    <td><img [src]="product.img" /></td>
                    <td>{{product.description}}</td>
                    <td>
                        <button class="delete-button " (click)="removeItem(product._id)!">Xóa</button>
                        <button class="edit-button" routerLink="{{ product._id }}/update">Sửa</button>

                    </td>
                </tr>
            </tbody>
        </ng-container>
    </table>
</div>


<!--

<div class="search-wrapper">
    <h2>Danh sách sản phẩm</h2>
    <div class="input-group">
        <div>
            <input type="text" [(ngModel)]="searchTerm" placeholder="Tìm kiếm sản phẩm" />
            <span *ngIf="searchProducts().length === 0">Không có kết quả</span>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Danh mục</th>
                <th>Giá</th>
                <th>Ảnh</th>
                <th>Mô tả</th>
                <th>Sửa/Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <ng-container *ngFor="let category of categories">
                        <span *ngIf="category._id === product.categoryId">{{ category.name }}</span>
                    </ng-container>
                </td>
                <td>{{ product.price }}</td>
                <td><img [src]="product.img" style="width: 100px; height: 100px;" /></td>
                <td>{{ product.description }}</td>
                <td>
                    <button class="btn btn-danger" (click)="removeItem(product._id)!">Xóa</button>
                    <button class="btn btn-danger" [routerLink]="[product._id, 'update']">Sửa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->