<h1>Cập nhật sản phẩm</h1>
<form (ngSubmit)="onHandleUpdate()" [formGroup]="productForm">
  <div class="mp-3">
    <input type="text" placeholder="Tenn" formControlName="name" class="form-control">

    <input type="number" placeholder="gia" formControlName="price" class="form-control">

    <input type="text" placeholder="link anh" formControlName="img" class="form-control">

    <select formControlName="category">
      <option *ngFor="let category of categories"   [value]="category._id">{{category.name}}</option>
     
      
    </select>

    <input type="text" placeholder="mo ta" formControlName="description" class="form-control">

  </div>

  <button type="submit" class="btn btn-primary bg-block btn-lg">Cập nhật sản phẩm</button>
</form>
