<form>
    <h2>Sửa sản phẩm</h2>
    <div class="mp-3">
        <label for="">Họ Tên</label>
        <input type="text" placeholder="Tên " formControlName="name" class="form-control">
        <label for="">Số điện thoại</label>
        <input type="text" placeholder="số điện thoại" formControlName="name" class="form-control">
        <label for="">Địa chỉ</label>
        <input type="text" placeholder="Địa chỉ" formControlName="name" class="form-control">
        <label for="price">Ghi chú</label>
        <input type="text" placeholder="mô tả" formControlName="description" class="form-control">

    </div>
    <button type="submit" class="btn btn-primary bg-block btn-lg">Cập nhật thông tin </button>
</form>