<div class="list-product-page">
  <div class="title">
    <h2>iPhone</h2>
  </div>

  <div class="breadcrum">
    <ul>
      <li><a href="">Tất cả</a></li>
      <li><a href="">iPhone 14</a></li>
      <li><a href="">iPhone 13</a></li>
      <li><a href="">iPhone 12</a></li>
      <li><a href="">iPhone 11</a></li>
    </ul>

    <div class="filter">
      <label for="products">Xếp theo: </label>

      <select id="products">
        <option value="Newly-released">Mới ra mắt</option>
        <option value="Selling">Bán chạy</option>
        <option value="Low-to-high-price">Giá thấp đến cao</option>
        <option value="High-to-low-price">Giá cao đến thấp</option>
      </select>
    </div>
  </div>

  <div class="list-product">
    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/245545/s16/iphone-14-plus-gold-thumb-topzone-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>


    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/245545/s16/iphone-14-plus-gold-thumb-topzone-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/247508/s16/iphone-14-pro-gold-thumb-1-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/245545/s16/iphone-14-plus-gold-thumb-topzone-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>


    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/245545/s16/iphone-14-plus-gold-thumb-topzone-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/247508/s16/iphone-14-pro-gold-thumb-1-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="product-child">
        <img
          src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_300x300/https://cdn.tgdd.vn/Products/Images/42/247508/s16/iphone-14-pro-gold-thumb-1-650x650.png"
          alt="">

        <div>
          <p>iPhone 14 Pro Max 128GB</p>
          <h3>26.490.000đ
            <del>28.990.00đ</del>
            <span>-3%</span>
          </h3>
        </div>
      </div>
    </a>


  </div>
</div>