<div class="container">
    <header>
        <div class="logo">
            <a href="#">
                <h2>topZoNe</h2>
            </a>
        </div>

        <div class="categories">
            <ul>
                <!-- <li ><a href="#">iPhone</a></li> -->
                <li *ngFor="let category of categories"><a href="#">{{ category.name }}</a></li>
                <!-- <li><a href="#">iPad</a></li>
                <li><a href="#">Watch</a></li>
                <li><a href="#">Âm thanh</a></li>
                <li><a href="#">Phụ kiện</a></li>
                <li><a href="#">TekZone</a></li>
                <li><a href="#">TopCare</a></li> -->
            </ul>
        </div>

        <div class="search">

            <form action="">
                <input type="text" placeholder="Search">
            </form>

        </div>
    </header>

    <div class="banner">
        <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_1920x533/https://cdn.tgdd.vn/2023/05/banner/MacBook-Air-M1-2880-800-1920x533-1.png"
            alt="banner">
    </div>

    <main>
        <router-outlet />
    </main>

    <footer>Nhóm 2 - WD17303 mãi đỉnh!</footer>
</div>